#root{
    flex-grow: 1;
}
*{
    font-family: "Alegreya Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C1C35;
    transition: all 300ms ease-in-out;
    scroll-behavior: smooth;
}

body{
    width: 100%;
        background: #FFF9F0;

    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
}
main{
    padding:0  0 22px 0;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    position: relative;
    float: left;
    flex-direction: column;
}
.body2{
    display: flex;
    gap: 0;
    position: relative;
}
.main2{
    margin: 0;
    /* padding: 0 22px 0; */
    width: 85%;

}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  
}
::-webkit-scrollbar-thumb {
  background: #149E99;
}
h1{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1.5px;
}
h2{
    font-size: 28px;
    font-weight: 700;
}
h3{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
}
h5{
    font-size: 16px;
}
.btnFlex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    gap: 72px;
    padding: 0 22px;
}
.categoriesFlex{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 34px;
    width: 100%;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
}
p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 140%;
}
.aboutUsImg{
    scale: 1;
}
.chipsFlex{
    display: flex;
align-items: flex-start;
gap: 10px;
flex-wrap: wrap;
}
.form1, .form3{
    display: flex;
    align-items: center;
    border-radius: 16px;
    position: relative;
    border: 6px solid #E2209E;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
}
.formLeft{
    display: flex;
    padding: 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}
.form2Cont{
    margin-top: 200px;
}
input{
    display: flex;
    padding: 12px 12px 12px 48px;
    align-items: center;
    align-items: center;
    align-self: stretch;
    border-radius: 57px;
    border: 1.4px solid #F1DFD1;
    background: rgba(37, 37, 37, 0.10);
    margin-bottom: 10px;
}
.form2{
    width: 80%;
}
.form2 .formLeft{
    flex-direction: row;
}
.form2 .formLeft button{
    max-width: 200px;
}
.form2 .formLeft input{
    flex: 1 0 0;
}
.form3{
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
}
.imgbg{
    background-image: url(./../assets/wireframe.svg);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}
.form3 input{
    width: 100%;
}
input:active{
border: 1.4px solid #E2209E;
}
.mainCont{
    display: flex;
    gap: 48px;
    padding: 0 22px 0 46px;
    flex-direction: column;
    padding-top: 100px;
}
.chartsFlex{
    width: 100%;
}
@media (max-width: 1239px){
    .main2{
        width: 100%;
    }
    .mainCont{
    gap: 48px;
    padding: 0 22px 0 22px;
            margin-top: 76px;
}
}
@media (max-width: 700px){
h1{
    font-size: 28px;
}
.heroFlex{
    flex-direction: column-reverse;
    gap: 20px;
}
.form2 .formLeft{
    flex-direction: column;
}
}

