.btn1, .btn2{
    display: flex;
    padding: 9px 22px;
    justify-content: center;
    font-size: 16px;
    line-height: normal;
    position: relative;
    top: 0;
    transition: all 150ms ease-in-out;
    text-wrap: nowrap;
    gap: 4px;
    color: #F4F1FF;
}
button{
    border: none;
    box-shadow: 0 -5.143px 0 0 rgba(0, 0, 0, 0.25) inset;
    background: transparent;
    background-position: top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
button:hover{
    box-shadow: 0 -8.143px 0 0 rgba(0, 0, 0, 0.25) inset;

}
.btn1{
    border-radius: 12px;
    background-image: url(./../../assets/btn1before1.png);
}
.btn1:hover{
    background-image: url(./../../assets/btn1before2.png);
}
.btn2{
    border-radius: 12px;
    background-size: 100% 100%;
    /* background-position: left; */
    background-image: url(./../../assets/btn2before2.png);

}
.btn1:hover, .btn2:hover{
    transform: translateY(-2px);
}
.btn3{
    display: flex;
    box-sizing: border-box;
    height: 48px;
    padding: 22px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    gap: 4px;
    flex-shrink: 0;
    color: #1C1C35;
       border-radius: 12px;
    background-image: url(./../../assets/btn2before2.png);

}
 .btn2:hover, .btn3:hover{
    background-image: url(./../../assets/btn2before.png);

}
.btn4{
        border-radius: 12px;
background: #18466F;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    width: stretch;
}
.btn5{
    background: none;
    outline: none;
    border: none;
    align-self: center;
    box-shadow:none;
    margin-right: 5px;
}
.btn5:hover{
    box-shadow: none;
    opacity: 0.5;
    transform: translateY(-5px);

}
.btn3:hover{
    transform: translateY(-2px);
}