.title1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.title1 h1, .title1 h3{
    text-align: left;
}
.title2{
    align-items: center;
    gap: 4px;
}
.title2 h1, .title2 h3{
    text-align: center;
}
.title1 img{
    margin-bottom: 12px;
}
.title2 img{
    margin-bottom: 0;
}